@import "tailwindcss";

/* ::selection {
  background-color: #9fc5ff;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2b7fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #155dfc;
} */

/* styles.css */
.swiper-button-next,
.swiper-button-prev {
  color: white; /* arrow color */
  background: rgba(0, 0, 0, 0.5);
  padding: 16px;
  border-radius: 9999px; /* fully round */
  transition: background 0.2s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: rgba(0, 0, 0, 0.7);
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px; /* arrow size */
  font-weight: bold;
}

body {
  background-color: black;
  overflow-x: hidden;
}
