@import "tailwindcss";

/* ::selection {
  background-color: #9fc5ff;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #2b7fff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #155dfc;
} */

/* styles.css */
.swiper-button-next,
.swiper-button-prev {
  height: 15px;
  width: 15px;
  color: #000000; /* arrow color */
  background: rgba(230, 230, 230, 0.829);
  padding: 16px;
  border-radius: 50%; /*fully round*/
  transition: background 0.2s;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px; /* arrow size */
  font-weight: bolder;
}

body {
  background-color: black;
  overflow-x: hidden;
}
